.bg-container {
  display: flex;
  flex-direction: column;
  background-image: url(https://assets.ccbp.in/frontend/react-js/reviews-bg.png);
  height: 100vh;
  background-size: cover;
  align-items: center;
  padding-top: 42px;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 40px;
}
.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}
.user-name {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 20px;
}
.company-name {
  color: #171f46;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 18px;
}
.description {
  color: #171f46;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
}
.button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 768px) {
  .review-container {
    width: 300px;
  }
}
